@use 'variables';

//main-nav
.main-nav
{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    &_logo
    {
      width:70px;
      height:70px;

    }

    &_items
    { display:flex;
       
        li  
         {
           padding: 1rem 1.5rem;
           
           a
           {
             text-decoration: none; 
             color:#fff;
             text-transform:uppercase ;
             border-bottom: 3px transparent solid;
             padding-bottom: .5rem;
             transition: border-color .5s;
             

             &:hover
             {
               border-color: variables.$medium-color;
             }   

              &:active
             {
               border-color: variables.$primary-color;
             }  

              &.active 
              {
               border-color: variables.$primary-color; 
              }
           }
         }

    }
      

}

#header
{
   &_home
   {
    background: variables.$bg-image no-repeat center right/cover;
    height: 100vh;
    color: #fff;
    /*
  background-image: $bg-image;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  height: 100vh;
  color: #fff;*/

      .header-content
     {
     text-align:center;
     padding-top: 30%;
     }  
 
     h1
     {
       font-size:4rem;
       line-height:1.2;
    } 

    .typewrite
    {
       display: block;
    } 
   }  


   &_inner
   {
    background: variables.$bg-image no-repeat 40% 20% / cover;
    height: 5.5rem;
    border-bottom: 3px solid variables.$primary-color;
   }

   
}    