@use "variables";
#home
{
   //home section a
   &__a
    {
       .skills
         {
           display:grid; 
           grid-template-columns: repeat(4, 1fr);
           gap:1rem;//aralarındaki boşluklar
           margin-bottom: 2.5rem;

        i  
        {
          color: variables.$primary-color;
          padding-bottom: .5rem;
        }
         }   
    } 

    //home section b
    &__b
    {
       .profile
         {
          display:grid;
          grid-template-columns: repeat(4, 1fr);

        li
        {
            &.title
            {
                font-size:1.5rem;
            }  
            
            &.number
            {
                font-size:2rem;
                font-weight:bold;
            }    

        }
        
        div
        {
         padding:3rem 0;

        &:nth-child(odd)
        {
         background-color: variables.$light-color;
        }  
        
        &:nth-child(even)
        {
         background-color: variables.$medium-color;
        } 


        }    




         }   
    }

    //home section c
    &__c
    {
      .process
      {
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        gap:1.5rem;
        text-align: center;


      &_step
      {
        position: absolute;
        top:0;
        right:0;
        font-size:25px;
        background-color: variables.$primary-color;
        color:#fff;
        border-radius: 50%;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
      
      }
      
      &_icon
      {
       position:relative;
       width:125px;
       height:125px;
       border-radius: 50%;
       background-color: variables.$dark-color;
       color:#fff;
       padding:2rem;
       text-align:center;

       &:hover
       {
        background-color: variables.$primary-color;

        .process_step
        {
         background-color: variables.$dark_color;
        }  
       }
      }  


      }  
    }   
    
}   